/* ========== 
Google Fonts 
========== */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Petrona:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ========== 
General Styles 
========== */

body {
    font-family: "Petrona", serif;
    color: #353535;
    background-color: #f5f5f7;
}

/* ========== 
Header & Navigation Styles 
========== */

.logo {
    font-family: "Bebas Neue", cursive;
    font-size: xx-large;
    margin: 0;
    color: #f5f5f7;
}

.logo:hover {
    color: #f7451d;
}

#navbar-bg {
    background-color: #353535;
}

.nav-link {
    padding: 0.5rem 5rem;
    margin: 0.3rem;
    color: #f5f5f7;
    font-family: "Bebas Neue", cursive;
    font-size: x-large;
}

@media screen and (max-width: 991px) {
    .nav-link {
        padding: 0.5rem;
        margin: 0.5rem;
        color: #f5f5f7;
        text-align: center;
    }
}

.navbar-nav .nav-link.active {
    color: #f7451d;
}

/* ===== Idea taken from Code Institute Project (Resume) ===== */

.navbar .nav-link:hover {
    color: #f7451d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#back-to-top {
    padding-top: 5px;
}

/* ========== 
Button Styles 
========== */

.btn.btn-1 {
    background-color: #353535;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: large;
}

.btn.btn-1:hover {
    background-color: #f7451d;
    color: #fff;
}

.btn.btn-2 {
    background-color: #f7451d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: large;
}

.btn.btn-2:hover {
    background-color: #353535;
    color: #fff;
}

.btn.btn-3 {
    background-color: #f7451d;
    color: #353535;
    font-family: "Bebas Neue", cursive;
    font-size: x-large;
}

.btn.btn-3:hover {
    background-color: #353535;
    color: #fff;
}

/* ========== 
Footer Styles 
========== */

footer {
    color: #353535;
    min-height: 125px;
    margin: 0;
}

.footer-head {
    font-weight: 500;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
}

.footer-p {
    font-size: smaller;
    font-weight: 400;
}

.contacts p a {
    color: #353535;
    text-decoration: none;
}

/* ===== Idea taken from Code Institute Project (Resume) ===== */

#footer-details {
    padding: 20px 1px 20px 1px;
}

/* ===== Idea taken from Code Institute Project (Resume) ===== */

.social-links li a i {
    font-size: 32px;
    text-align: center;
    color: #353535;
    margin: 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #f7451d;
}

.contacts p a:hover {
    color: #f7451d;
}

footer hr {
    margin: 0px;
}

.copyright {
    padding-top: 16px;
    padding-bottom: 28px;
    text-align: center;
}

@media screen and (max-width: 575px) {
    #footer-details {
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    .social-links {
        text-align: end;
    }
}

/* ========== 
Page Styles 
========== */

#hero-bg {
    background: url(/assets/images/london-map-bg.png) no-repeat center;
    border-radius: 5px 0px 5px 0px;
}

.hero-title {
    font-size: 50px;
}

.dark-bg {
    background-color: #353535;
    color: #fff;
}

.page-heading {
    font-weight: 500;
    font-size: 50px;
    font-style: italic;
}

/* ========== 
Quiz Page Styles 
========== */

/* Round Stats Styles */

.stats-score {
    font-family: "Bebas Neue", cursive;
    background: #f7451d;
    border: 2px solid #353535;
    border-radius: 0px 5px 0px 5px;
    color: #fff;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-question {
    font-family: "Bebas Neue", cursive;
    background: #353535;
    border: 2px solid #f7451d;
    border-radius: 5px 0px 5px 0px;
    color: #fff;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-holder {
    background: url(/assets/images/london-map-bg.png) no-repeat center;
    border-radius: 5px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the question holder area */

.question-holder {
    background-color: #353535;
    border: 2px solid #f7451d;
    color: #fff;
    font-size: large;
    border-radius: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

/* Styles for the answer holder area */

.answer .potential-answer {
    background-color: #353535;
    border: 2px solid #f7451d;
    color: #fff;
    font-size: large;
    border-radius: 0px 5px 0px 5px;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.potential-answer:hover {
    background: #f7451d;
    border: 2px solid #353535;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type="radio"]:checked ~ .potential-answer {
    background: #ff7a4b;
}

/* Styles for the next question button holder area */

.next-question-button-holder {
    width: 100%;
    height: a;
    display: flex;
    justify-content: center;
}

.next-question-button-holder button {
    width: 20rem;
    height: 3rem;
    background-color: #f7451d;
    border: 2px solid #353535;
    border-radius: 0px 5px 0px 5px;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.next-question-button-holder button:hover {
    background-color: #353535;
    border: 2px solid #f7451d;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Modal Styles */

.outer-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
    background-color: rgba(53, 53, 53, 0.5);
}

.inner-modal {
    height: 30rem;
    width: 25rem;
    background-color: rgba(53, 53, 53, 1);
    border: 2px solid #f7451d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px 0px 5px 0px;
}

.inner-modal h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 2rem;
    height: 3rem;
    color: #fff;
    text-align: center;
}

.modal-button-holder {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    width: 10rem;
    height: 3rem;
    outline: none;
    border: 1px solid #fff;
    background-color: rgba(247, 69, 29, 1);
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px 0px 5px 0px;
}

.modal-btn:hover {
    background-color: #353535;
    border: 1px solid rgba(247, 69, 29, 1);
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.grade-details {
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.grade-comments {
    width: 25rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: 1.2rem;
}

.modal-content {
    height: 30rem;
    width: 25rem;
    background-color: rgba(53, 53, 53, 1);
    border: 2px solid #f7451d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px 0px 5px 0px;
    color: #fff;
}

.modal-title {
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: x-large;
}

#email-modal-comments {
    color: #fff;
    font-size: x-large;
    vertical-align: middle;
    padding-top: 100px;
}

.contact-modal-btn {
    width: 10rem;
    height: 3rem;
    outline: none;
    border: 1px solid #fff;
    background-color: rgba(247, 69, 29, 1);
    color: #fff;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px 0px 5px 0px;
}

.contact-modal-btn:hover {
    background-color: #353535;
    border: 1px solid rgba(247, 69, 29, 1);
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Media query for the quiz and modals displaying on small screens */

@media (max-width: 575px) {
    .inner-modal {
        width: 20rem;
        height: 30rem;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .inner-modal {
        width: 20rem;
        height: 30rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}